.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  .top {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;

        span {
          font-size: 14px;
          font-weight: bold;
        }

        p {
          font-size: 12px;
          font-weight: 400;
          color: #a5a5a5;
          margin: 4px;
        }
      }
    }

    .icons {
      display: flex;
      gap: 10px;

      .box {
        //width: 20px;
        //height: 20px;
        display: flex;
        padding: 8px;
        border-radius: 50%;
        background-color: #e4e6eb;
      }
    }
  }
}
